<p>user-list works!</p>
<div class="mainbox">
    <h1>Employee Interests Survey Form</h1>
    <form action="">
        <label for="">Enter your name:</label>
        <input type="text">
        <label for="">Enter your department:</label>
        <input type="text">
        <label for="">Tell us little about yourself:</label>
        <input type="text">
        <div>
        <label for="">Do you exercise at home?</label>
        <input type="radio"><label for="option1">Yes</label> <label for="option2">No</label>
        </div>
        <div>
    <p>How do you like to read about your favorite topics?</p>
    <input type="checkbox" label for="">Books</label><label for="">Online Resources</label>
    <label for="">Phone Apps</label><label for="">Magazines</label>
        </div>
        <div><label for="">What genre of movies do you like?</label>
        <input type="select">
        </div>
        <div><button>Submit form</button></div>
    </form>
</div>